set system host-name vmx2
set system syslog user * any emergency
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
set system processes dhcp-service traceoptions file dhcp_logfile
set system processes dhcp-service traceoptions file size 10m
set system processes dhcp-service traceoptions level all
set system processes dhcp-service traceoptions flag packet
set interfaces ge-0/0/0 unit 0 family inet address 192.168.1.2/30
set interfaces ge-0/0/1 unit 0 family inet address 192.168.1.5/30
set interfaces ge-0/0/2 unit 0 family inet address 192.168.1.9/30
set interfaces fxp0 unit 0 family inet address 10.102.144.2/24
set interfaces irb unit 100 family inet address 172.16.1.2/30
set interfaces irb unit 200 family inet address 172.17.1.2/30
set interfaces irb unit 999 family inet address 172.99.1.2/30
set interfaces lo0 unit 0 family inet address 2.2.2.2/32
set interfaces lo0 unit 100 family inet address 11.11.20.1/32
set interfaces lo0 unit 200 family inet address 12.12.20.1/32
set routing-instances CUST instance-type virtual-router
set routing-instances CUST interface ge-0/0/1.0
set routing-instances CUST interface irb.100
set routing-instances CUST interface irb.200
set routing-instances CUST interface lo0.100
set routing-instances CUST routing-options static route 0.0.0.0/0 next-hop 192.168.1.6
set routing-instances CUST routing-options static route 11.11.10.0/24 next-hop 172.16.1.1
set routing-instances CUST routing-options static route 12.12.10.0/24 next-hop 172.17.1.1
set routing-instances INTERNET instance-type virtual-router
set routing-instances INTERNET interface ge-0/0/2.0
set routing-instances INTERNET interface irb.999
set routing-instances INTERNET interface lo0.200
set routing-instances INTERNET routing-options static route 0.0.0.0/0 next-hop 172.99.1.1
set routing-instances INTERNET routing-options static route 11.11.10.0/24 next-hop 192.168.1.10
set routing-instances INTERNET routing-options static route 12.12.10.0/24 next-hop 192.168.1.10
set routing-instances VXLAN vtep-source-interface lo0.0
set routing-instances VXLAN remote-vtep-list 1.1.1.1
set routing-instances VXLAN instance-type virtual-switch
set routing-instances VXLAN bridge-domains VXLAN-100 domain-type bridge
set routing-instances VXLAN bridge-domains VXLAN-100 vlan-id 101
set routing-instances VXLAN bridge-domains VXLAN-100 routing-interface irb.100
set routing-instances VXLAN bridge-domains VXLAN-100 vxlan vni 100
set routing-instances VXLAN bridge-domains VXLAN-100 vxlan decapsulate-accept-inner-vlan
set routing-instances VXLAN bridge-domains VXLAN-100 vxlan ingress-node-replication
set routing-instances VXLAN bridge-domains VXLAN-200 domain-type bridge
set routing-instances VXLAN bridge-domains VXLAN-200 vlan-id 201
set routing-instances VXLAN bridge-domains VXLAN-200 routing-interface irb.200
set routing-instances VXLAN bridge-domains VXLAN-200 vxlan vni 200
set routing-instances VXLAN bridge-domains VXLAN-200 vxlan decapsulate-accept-inner-vlan
set routing-instances VXLAN bridge-domains VXLAN-200 vxlan ingress-node-replication
set routing-instances VXLAN bridge-domains VXLAN-999 domain-type bridge
set routing-instances VXLAN bridge-domains VXLAN-999 vlan-id 999
set routing-instances VXLAN bridge-domains VXLAN-999 routing-interface irb.999
set routing-instances VXLAN bridge-domains VXLAN-999 vxlan vni 999
set routing-instances VXLAN bridge-domains VXLAN-999 vxlan decapsulate-accept-inner-vlan
set routing-instances VXLAN bridge-domains VXLAN-999 vxlan ingress-node-replication
set routing-options router-id 2.2.2.2
set routing-options autonomous-system 65002
set protocols ospf area 0.0.0.0 interface ge-0/0/0.0
set protocols ospf area 0.0.0.0 interface lo0.0 passive
